{{#each music as |music|}}
<div class="p-4">
    <div class="h-full rounded-b-lg border-[0.4rem] border-indigo-500 bg-gradient-to-tr from-cyan-200 to-blue-500 rounded-lg overflow-hidden drop-shadow-2xl">
        <div>
            <button class="edit-btn z-50" type="button" data-type="music" data-id="{{id}}"><i style="font-size:24px" class="fa text-white object-right-top fixed top-2 right-2 z-40 bg-indigo-800 text-lg hover:bg-white hover:text-indigo-800 rounded-lg p-2 border-2 border-white hover:border-indigo-800">&#xf040;</i></button>
            <button class="delete-btn z-50" type="button" data-type="music" data-id="{{id}}"><i style="font-size:24px" class="fa fa-recycle text-white object-left-top fixed top-2 left-2 z-40 bg-green-500 text-lg hover:bg-white hover:text-green-500 rounded-lg p-2 border-2 border-white hover:border-green-500"></i></button>
            {{#if image}}<img class="w-full lg:h-[28rem] h-[20rem] rounded-b-lg border-b-[0.4rem] border-indigo-500 flex content-center z-30" src="{{ image }}" alt="blog">{{else}}<img class="w-full lg:h-[28rem] h-[20rem] rounded-b-lg border-b-[0.4rem] border-indigo-500 flex content-center z-30" src="https://st2.depositphotos.com/2919755/6380/i/950/depositphotos_63800799-stock-photo-blank-gold-coin.jpg" alt="blog">{{/if}}
        </div>
        <div class="p-6 drop-shadow-2xl">
            <h1 class="text-center title-font text-lg font-bold rounded-lg border-x-[0.4rem] border-indigo-500 text-gray-900 rounded-t-lg bg-white mb-3">{{ album_name }}</h1>
            <input type="hidden" name="music_id" value={{id}}>
            <ul class="flex content-center flex-col text-black rounded-lg border-[0.4rem] border-indigo-500 bg-white mb-3">
                {{#if artist }}<li class = "p-2 border-b-2"><span class="font-semibold rounded-full bg-green-400 py-1 px-2 border-2 border-green-700">Artist:</span> {{ artist }}</li>{{/if}}
                {{#if genre }}<li class = "p-2 border-b-2"><span class="font-semibold rounded-full bg-green-400 py-1 px-2 border-2 border-green-700">Genre:</span> {{ genre }} </li>{{/if}}
                {{#if style }}<li class = "p-2 border-b-2"><span class="font-semibold rounded-full bg-green-400 py-1 px-2 border-2 border-green-700">Style:</span> {{ style }} </li>{{/if}}
                {{#if release_year }}<li class = "p-2 border-b-2"><span class="font-semibold rounded-full bg-green-400 py-1 px-2 border-2 border-green-700">Released:</span> {{ release_year }} </li>{{/if}}
                {{#if format }}<li class = "p-2 border-b-2"><span class="font-semibold rounded-full bg-green-400 py-1 px-2 border-2 border-green-700">Format:</span> {{ format }} </li>{{/if}}
                {{#if pressing_info }}<li class = "p-2 border-b-2"><span class="font-semibold rounded-full bg-green-400 py-1 px-2 border-2 border-green-700">Pressing:</span> {{ pressing_info }} </li>{{/if}}
                {{#if barcode }}<li class = "p-2 border-b-2"><span class="font-semibold rounded-full bg-green-400 py-1 px-2 border-2 border-green-700">Barcode:</span> {{ barcode }} </li>{{/if}}
                {{#if condition }}<li class = "p-2 border-b-2"><span class="font-semibold rounded-full bg-green-400 py-1 px-2 border-2 border-green-700">Condition:</span> {{ condition }} </li>{{/if}}
                {{#if price }}<li class = "p-2 border-b-2"><span class="font-semibold rounded-full bg-green-400 py-1 px-2 border-2 border-green-700">Price:</span> {{ price }} </li>{{/if}}
            </ul>
        </div>
    </div>
</div>
{{/each}}