{{#each music as |music|}}
<div class="p-4">
    <div class="h-full border-2 border-black border-opacity-60 bg-indigo-400 rounded-lg overflow-hidden drop-shadow-2xl">
        <img class="lg:h-96 md:h-48 w-full object-scale-down object-center" src="{{ image }}" alt="blog">
        <div>
            <button class="edit-btn z-50" type="button" data-type="figure" data-id="{{id}}"><i style="font-size:24px" class="fa text-white object-right-top fixed top-2 right-2 z-40 bg-indigo-800 text-lg hover:bg-white hover:text-indigo-800 rounded-lg p-1">&#xf040;</i></button>
            <img class="lg:h-[28rem] h-[20rem] w-full flex content-center z-30" src="{{ image }}" alt="blog">
        </div>
        <div class="p-6">
            <h1 class="text-center title-font text-lg font-bold text-gray-900 mb-3">{{ album_name }}</h1>
            <input type="hidden" name="music_id" value={{id}}>
            <ul class="leading-relaxed text-black mb-3">
                <li><span class="underline">Artist:</span> {{ artist }}</li>
                <li><span class="underline">Genre:</span> {{ genre }} </li>
                <li><span class="underline">Style:</span> {{ style }} </li>
                <li><span class="underline">Released:</span> {{ release_year }} </li>
                <li><span class="underline">Format:</span> {{ format }} </li>
                <li><span class="underline">Pressing:</span> {{ pressing_info }} </li>
                <li><span class="underline">Barcode:</span> {{ barcode }} </li>
                <li><span class="underline">Condition:</span> {{ condition }} </li>
                <li><span class="underline">Price:</span> {{ price }} </li>
            </ul>
        </div>
    </div>
</div>
{{/each}}

